{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
</div>
<div class="card mb-3">
  <img class="card-img-top" src="img/1N1A6336.CR2.jpg" alt="Card image cap">
  <div class="card-body">
  	<p class="card-text">This course will prepare you to analyze data genomic data from multiple sources and non-model organisms such as the Great Cormorant pictured above.</p>
  	<hr>
    <p class="card-text"><small class="text-muted"><em>Phalacrocorax carbo</em> | Everglades National Park, Florida, USA</small></p>
  </div>
</div>


{{ end }}